<?xml version="1.0" encoding="utf-8" ?>
<enCor>
  <TestModule>
    <services>
      <service name="EchoService" type="EnCor.Wcf.Testing.TestModule.EchoService, EnCor.Wcf.Testing"
               interface="EnCor.Wcf.Testing.TestModule.IEchoService, EnCor.Wcf.Testing"/>
    </services>
  </TestModule>
  <routerHost type="EnCor.Wcf.RouterHost, EnCor.Wcf" >
    <registerAddresses>
      <add baseAddress="net.tcp://localhost:9010/RegistrationService" />
    </registerAddresses>
    <routerAddresses>
      <add baseAddress="http://localhost:9101/RouterService" />
      <add baseAddress="https://localhost:8011/RouterService" />
      <add baseAddress="net.tcp://localhost:9103/RouterService" />
    </routerAddresses>
    
    <routerSetting monitorSleep="3000" />
    <cerficate findValue="lihao11" storeLocation="LocalMachine" x509FindType="FindBySubjectName" storeName="My" />
    <routerTimeOut openTimeout="00:05:00" sendTimeout="00:05:00" receiveTimeout="02:00:00" closeTimeout="00:05:00" heartTimeout="00:00:15"/>
    <nodes>
      <!--<node name="SampleServiceNodeTcpNA" actionUri="http://encor.codeplex.com/test/sampeservice/ISampleService" address="net.tcp://localhost:9203/node/NotAvailable" rate="40" />-->
      <node name="SampleServiceNodeTcp" actionUri="http://encor.codeplex.com/test/sampeservice/ISampleService" address="net.tcp://localhost:9203/node/SampleService1" rate="20" />
      <node name="SampleServiceNodeHttp" actionUri="http://encor.codeplex.com/test/sampeservice/ISampleService" address="http://localhost:9201/node/SampleService2"/>
      <node name="EchoServiceNode" actionUri="http://encor.codeplex.com/test/sampeservice/IEchoService" address="net.tcp://localhost:9203/node/EchoService"/>
      <node name="EchoServiceNodeHttp" actionUri="http://encor.codeplex.com/test/sampeservice/IEchoService" address="http://localhost:9201/node/EchoService"/>
    </nodes>
    <autoDelist failTimesLimitation="3" failPeroid="1" autoResetPeroid="5" />
  </routerHost>
  <nodeHost type="EnCor.Wcf.NodeHost, EnCor.Wcf">
    <registerAddresses>
      <add baseAddress="net.tcp://localhost:9010/RegistrationService" />
    </registerAddresses>
    <baseAddresses>
      <add baseAddress="http://localhost:9201/node/" />
      <add baseAddress="https://localhost:9202/node/" />
      <add baseAddress="net.tcp://localhost:9203/node/" />
    </baseAddresses>
    <services>
      <add name="SampleService1" type="EnCor.Wcf.Testing.SampleService, EnCor.Wcf.Testing" />
      <add name="SampleService2" type="EnCor.Wcf.Testing.SampleService, EnCor.Wcf.Testing"
           contract="EnCor.Wcf.Testing.ISampleService, EnCor.Wcf.Testing" />
      <add name="EchoService" serviceRef="TestModule$EchoService" />
    </services>
    <nodeSetting proportion="10000"  monitorSleep="3000" />
  </nodeHost>
  <logging>
    <appenders>
      <appender name="file" type="EnCor.Logging.Appenders.FileLogAppender" filePath ="encor.log" />
      <appender name="console" type="EnCor.Logging.Appenders.ConsoleLogAppender" />
    </appenders>
  </logging>
</enCor>