<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enCor" type="EnCor.Configuration.EnCorConfigHandler, EnCor"/>
  </configSections>
  <enCor>
    <alpha>
      <services>
        <service name="AlphaService" type="EnCor.Tests.ModuleAlpha.AlphaService, EnCor.Tests" />
      </services>
    </alpha>
    <beta>
      <services>
        <service name="BetaService" type="EnCor.Tests.ModuleBeta.BetaService, EnCor.Tests" />
      </services>
      <dependents>
        <module name="alpha" />
      </dependents>
    </beta>
    <logging dataType="EnCor.Logging.LoggingModuleConfig, EnCor">
      <appenders>
        <appender name="file" type="EnCor.Logging.Appenders.FileLogAppender" filePath ="encor.log" />
        <appender name="console" type="EnCor.Logging.Appenders.ConsoleLogAppender" />
      </appenders>
    </logging>
  </enCor>
</configuration>