<?xml version="1.0" encoding="utf-8" ?>
<enCor>
  <logging dataType="EnCor.Logging.LoggingModuleConfig, EnCor">
    <appenders>
      <appender name="file" type="EnCor.Logging.Appenders.FileLogAppender" filePath ="encor.log" />
      <appender name="console" type="EnCor.Logging.Appenders.ConsoleLogAppender" />
    </appenders>
  </logging>
</enCor>