<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="connectionString1" connectionString="Data Source=localhost;Integrated Security=SSPI;Initial Catalog=aspnetdb"/>
  </connectionStrings>
  <system.web>
    <membership >
      <providers>
        <add name="localMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="connectionString1" />
      </providers>
    </membership>
  </system.web>
</configuration>
