<?xml version="1.0" encoding="utf-8" ?>
<enCor>
  <security>
    <authentication>
      <providers>
        <add name="memoryCached" type="EnCor.Security.MemoryCachedTokenProvider, EnCor.Runtime" />
        <add name="local" type="EnCor.Security.MembershipAuthenticationProvider, EnCor.Common" providerName="localMembership" />
        <add name="windows" type="EnCor.Security.WindowsAuthenticationProvider, EnCor.Runtime" group="Everyone" />
        <!--<add name="Aspnet" type="EnCor.Aspnet.Security.AspnetAuthenticationProvider, EnCor.Aspnet" mapper="single" />-->
      </providers>
      <adapters>
        <add name="Windows" type="EnCor.Security.WindowsAuthenticationAdapter" />
        <!--<add name="AspnetToken" type="EnCor.Aspnet.Security.AspnetTokenAdapter, EnCor.Aspnet" />
          <add name="Aspnet" type="EnCor.Aspnet.Security.AspnetAuthenticationAdapter, EnCor.Aspnet" />-->
      </adapters>
    </authentication>
    <authorization>
      <providers>
        <add name="Role" claimType="Role" type="EnCor.Security.WindowsGroupAuthorizationProvider, EnCor.Runtime" >
          <!--<groupRightMapping>
              <add group="" right="" />
            </groupRightMapping>-->
        </add>
        <!--<add name="Roles" >
            <users>
              <user id="WORLDAND-XUQG7U\Administrator">
                <claims>
                  <claim type="" 
                </claims>
              </user>
            </users>
          </add>-->
        <!--<add name="Permission" claimType="" type="" />
          <add name="UserInfo" claimType="" type="" />-->
      </providers>
    </authorization>
  </security>

  <modules>
    <module name="Alpha">
      <services>
        <service name="AlphaService"
                 type="EnCorTest.AlphaModule.AlphaService, EnCorTest"
                   >

          <!--<component name="dataProvider" type="EnCorTest.AlphaModule.NHAlphaDataProvider, EnCorTest" />-->
        </service>
      </services>
    </module>
    <module name="Beta" type="EnCorTest.BetaModule.BetaModule, EnCorTest"
            dataType="EnCorTest.BetaModule.BetaModuleConfig, EnCorTest"
            moduleStringParameter="value"
            moduleNumberParameter="123"
              >

      <services>
        <service name='BetaService' type="EnCorTest.BetaModule.BetaService, EnCorTest"
                 dataType="EnCorTest.BetaModule.BetaServiceConfig, EnCorTest"
                 interface="EnCorTest.BetaModule.IBetaService, EnCorTest">
          <interfaces>
            <interface type="EnCorTest.BetaModule.IBetaService2, EnCorTest" />
          </interfaces>
          <component name="DataProvider" type="EnCorTest.BetaModule.BetaDataProvider, EnCorTest"
               dataType="EnCorTest.BetaModule.BetaDataProviderConfig, EnCorTest"
               interface="EnCorTest.BetaModule.IBetaDataProvider, EnCorTest"/>
        </service>
      </services>
    </module>
  </modules>
  <!--<hosting>
      -->
  <!--<host name="wshost" endpoint="http://+:81/" type="EnCor.Hosting.WSHosting.WSHost, EnCor.Hosting.WSHosting">
        <services>
          <add name="HelloWorldService" url="HelloWorld" 
               type="EnCor.Hosting.WSHosting.Sample.HelloWorldWebService, EnCor.Hosting.WSHosting" />
        </services>
        
      </host>-->
  <!--
      <host name="Router" 
            type="EnCor.Wcf.RouterHost, EnCor.Wcf">
        <baseAddresses>
          <add baseAddress="http://localhost/router" />
          <add baseAddress="https://localhost/router" />
          <add baseAddress="net.tcp://localhost:9000/router" />
        </baseAddresses>

      </host>
      <host name="Node" 
            routerAddress="http://localhost/router" 
            baseAddress="http://localhost/sampleservices"
            type="EnCor.Wcf.NodeHost, EnCor.Wcf">
        <services>
          <add name="HelloWorldService" url="HelloWorld"
               type="EnCor.Wcf.Hosting.HelloWorldService, EnCor.Wcf" />
        </services>
      </host>
      -->
  <!-- mode="router/node/host"-->
  <!--
      
    </hosting>-->
  <!--<caching>
      <cacheManagers>
        <add name="" type="" />
        <add name="" type="" />
        <add name="" type="" />
      </cacheManagers>
    </caching>-->
  <!--<security administratorRoleName="Administrators">
      <authentication>
        <userDataProvider name="" type="" connectionStringRef="connectionString1" />
        <authenticationProviders>
          <add name="" type="" domainName="" openRegister="false" needEmailActivate="false" />
        </authenticationProviders>
      </authentication>
      <authorization>
        <actions>
          <action name="ListRoles">
            -->
  <!--<role name="Administrators" />-->
  <!--
          </action>
          <action name="ModifyRoleUsers">
            -->
  <!--<role name="Administrators" />-->
  <!--
          </action>
        </actions>
      </authorization>

    </security>-->
  <logging>
    <appenders>
      <appender name="file" type="EnCor.Logging.FileLogAppender, EnCor.Runtime" filePath ="encor.log" />
      <appender name="console" type="EnCor.Logging.ConsoleLogAppender, EnCor.Runtime" />
    </appenders>
    <loggers>
      <add name="All" appender="file,console" level="Warning" />
      <add name="EnCor" appender="file,console" level="Info" />
    </loggers>
  </logging>
</enCor>