<?xml version="1.0" encoding="utf-8" ?>
<enCor>
  <security>
    <authentication>
      <providers>

      </providers>
    </authentication>
  </security>
  <logging>
    <appenders>
      <appender name="file" type="EnCor.Logging.Appenders.FileLogAppender" filePath ="encor.log" />
      <appender name="console" type="EnCor.Logging.Appenders.ConsoleLogAppender" />
      <appender name="log4net" type="EnCor.Logging.Appenders.Log4netLogAppender" logger="main" />
    </appenders>
  </logging>
</enCor>