<?xml version="1.0" encoding="utf-8" ?>
<module type="EnCor.Wcf.NodeHost, EnCor.Wcf">
  <registerAddresses>
    <add baseAddress="net.tcp://localhost:9010/RegistrationService" />
  </registerAddresses>
  <baseAddresses>
    <add baseAddress="http://localhost:9201/node/" />
    <!--<add baseAddress="https://localhost:9202/node/" />-->
    <add baseAddress="net.tcp://localhost:9203/node/" />
  </baseAddresses>
  <serviceNodes>
    <add name="SampleService1" type="EnCor.Wcf.Tests.SampleService, EnCor.Wcf.Tests" />
    <add name="SampleService2" type="EnCor.Wcf.Tests.SampleService, EnCor.Wcf.Tests"
         contract="EnCor.Wcf.Tests.ISampleService, EnCor.Wcf.Tests" address="SampleService2" />
    <add name="EchoService" serviceRef="TestModule$EchoService" />
  </serviceNodes>
  <nodeSetting proportion="10000"  monitorSleep="3000" />
  <dependents>
    <module name="TestModule" />
    <module name="EnCor.Routing" />
  </dependents>
</module>
